body {
    height: 100%;
    padding: 10px;
    font-family: Times;
    font-size: 16pt;
    background-color: #ececec;
}

h1 {
    color: #2780c2;
    font-weight: 900;
    text-align: center;
    /*margin-bottom: 8px;*/
}

h1.title {
    margin-bottom: 50px;
}

p.picture-text {
    margin-left: 50px;
    /*height: 321px;*/
}

td p {
    font-size: small;
}

.picture {
    border: transparent;
    border-width: 4px;
    border-radius: 20px;
    box-shadow: 0 0 10px;
    padding: 5px;
    margin: 10px;
}

.profile {
    float: right;
    width: 306px;
    height:306px;
    margin-right: 50px;
    margin-left: 50px;
    margin-top: 1px;
    margin-bottom: 1px;
}

.obama {
    width: 100px;
    height: 100px;
    /*text-align: center;*/
}

#mainTable {
    margin-left: 50px;
    margin-right: 50px;
}

#courseTable {
    border: inset;
    border-color: #2780c2;
    border-width: 4px;
    width: 100%;
}

#courseTable tr:nth-child(even) {
    background-color: #d1d1d1;
}

#courseTable tr td:nth-child(1), td:nth-child(3) {
    text-align: center;
}

.top-left {
    color: #2780c2;
}

.top-right {
    color: #2780c2;
    font-style: italic;
}

.middle-left {
    list-style-type: lower-alpha;
}

.middle-right {
    background-color: transparent;
}

/* bottom-left */
.links {
    color: #2780c2;
}

.bottom-right {
    color: #2780c2;
}

.best {
    font-style: italic;
}